<div></div>
<script type="text/javascript" src="http://view-layout-provider.local/api/mgblock/000_common/resource/loadlib.js"></script>
<script>
    loadJQuery()
    loadBasic02()
</script>
<!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="http://view-layout-provider.local/api/mgblock/000_common/resource/basic.js"></script>-->
<!--<script type="text/javascript" src="http://view-layout-provider.local/api/mgblock/000_common/resource/basic02.js"></script>-->

<div id="box33333"></div>

<script>

    var config =
        {
            layout: 'http://view-layout-provider.local/api/view-layout/__base__3_2R',

            match:  [
                {
                    region: '#layout-7182fdbff .region-da45dabff-left',
                    mgblock: 'http://view-layout-provider.local/api/mgblock/_example_simple_block'
                },
                {
                    region: '#layout-7182fdbff .region-13cc86eb4-bottom',
                    mgblock: 'http://view-layout-provider.local/api/mgblock/_example_simple_block2'
                }
            ]
        }

        installMgBlock('#box33333', config);

</script>
