<div></div>
<script type="text/javascript" src="http://view-layout-provider.local/api/mgblock/000_common/resource/loadlib.js"></script>
<script>
    loadJQuery()
    loadBasic02()
</script>
<!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="http://view-layout-provider.local/api/mgblock/000_common/resource/basic.js"></script>-->
<!--<script type="text/javascript" src="http://view-layout-provider.local/api/mgblock/000_common/resource/basic02.js"></script>-->

<div id="box77777"></div>

<script>

    /**
     * Todo: [< TestCase >]
     *     http://view-layout-provider.local/api/view-layout/_test_test
     *
     */

    var config =
        {
            layout: 'http://view-layout-provider.local/api/view-layout/__base__3_2R_b',

            match:  [
                {
                    region: '#layout-ff7182fdb .region-da45dabff-right',
                    mgblock: 'http://view-layout-provider.local/api/view-layout/_example__3_2R_with_mgblocks'
                },
                {
                    region: '#layout-ff7182fdb .region-da45dabff-left',
                    mgblock: 'http://view-layout-provider.local/api/view-layout/_example__3_2R_with_mgblocks'
                },
                {
                    region: '#layout-ff7182fdb .region-df24f3bc0-top',
                    mgblock: 'http://view-layout-provider.local/api/view-layout/_example__3_2R_with_mgblocks'
                }
            ]
        }


    var timer = setInterval(function () {

        if (typeof window.JQUERY_LOADED !== 'undefined' &&
            window.JQUERY_LOADED !== false
        )
        clearInterval(timer)
        installMgBlock('#box77777', config);

    }, 1000)



</script>
