<div id="___MGBLOCK_ID___" class="vinsto-mgblock--wrapper">
    <script type="text/javascript" src="http://view-layout-provider.local/api/mgblock/000_common/resource/loadlib.js"></script>
    <script>
        loadJQuery()
    </script>
    <!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
    <div class="mgb--outer-crust"
         mgblock="_example_simple_block2"
         mgblock-html="index.html"
         mgblock-js="index.js"
         mgblock-css="index.css"
    >
        <div class="mgb--inner"></div>
    </div>
    <!--<script src="http://view-layout-provider.local/api/mgblock/000_common/resource/basic.js"></script>-->
    <script>
        loadBasic()
    </script>
    <!--Todo: 不要写死JS所在的URL，改为由服务器自动解析 -->
    <!--<script src="___MGBLOCK__PARSE_BASE_JS___"></script>-->
</div>
